    {{ container_name }}:
        container_name: {{ container_name }}
        build: ./eslint
        image: skyflow/eslint
        working_dir: /app
        volumes:
            - ./eslint/.eslintrc.js:/app/.eslintrc.js
            - ../{{ application_dir }}:/app/src
