    {{ container_name }}:
        container_name: {{ container_name }}
        build: ./laravel
        image: skyflow/laravel
        restart: 'on-failure'
        working_dir: /{{ application_name }}
        ports:
            - {{ port }}:80
        volumes:
            - ../:/{{ application_name }}
            - ./laravel/conf/apache2:/etc/apache2
            - ./laravel/conf/php7/php.ini:/etc/php7/php.ini