    {{ container_name }}:
        container_name: {{ container_name }}
        image: python:3.7.0-alpine3.7
        working_dir: /{{ application_name }}
        volumes:
            - ../:/{{ application_name }}
        command: "python {{ entry_point }}"