    {{ container_name }}:
        container_name: {{ container_name }}
        build: ./mocha
        image: skyflow/mocha
        volumes:
            - ../{{ application_dir }}:/app
        command: ["mocha"]