    {{ container_name }}:
        container_name: {{ container_name }}
        image: postgres:latest
        restart: 'on-failure'
        ports:
            - {{ port }}:5432
        volumes:
            - ../{{ database_storage_location }}:/var/lib/postgresql/data
        environment:
            POSTGRES_USER: {{ user }}
            POSTGRES_PASSWORD: {{ password }}
            POSTGRES_DB: {{ database_name }}