    {{ container_name }}:
        container_name: {{ container_name }}
        image: kibana:5.6.10
        restart: 'on-failure'
        ports:
            - {{ port }}:5601
#        environment:
#            ELASTICSEARCH_URL: http://elasticsearch_container_name:9200