    {{ container_name }}:
        container_name: {{ container_name }}
        image: abiosoft/caddy:{{ version }}
        ports:
          - {{ port }}:2015
        volumes:
            - ../:/srv
            - ./caddy/Caddyfile:/etc/Caddyfile
