    {{ container_name }}:
        container_name: {{ container_name }}
        image: mariadb:latest
        restart: 'on-failure'
        volumes:
            - ../{{ database_storage_location }}:/var/lib/mysql
        environment:
            MYSQL_DATABASE: {{ database_name }}
            MYSQL_USER: {{ user }}
            MYSQL_PASSWORD: {{ password }}
            MYSQL_ROOT_PASSWORD: {{ root_password }}