    {{ container_name }}:
        container_name: {{ container_name }}
        image: mailhog/mailhog:latest
        restart: 'on-failure'
        ports:
            - {{ smtp_server_port }}:1025
            - {{ web_server_port }}:8025