    {{ container_name }}:
        container_name: {{ container_name }}
        image: node:10-alpine
        working_dir: /home/node/src
        volumes:
            - ../{{ assets_directory }}:/home/node/src
            - ../{{ output_directory }}:/home/node/out