    {{ container_name }}:
        container_name: {{ container_name }}
        image: ruby:{{ version }}
        working_dir: /{{ application_name }}
        volumes:
            - ../:/{{ application_name }}
        command: "ruby {{ entry_point }}"
