    {{ container_name }}:
        container_name: {{ container_name }}
        image: httpd:{{ version }}
        restart: 'on-failure'
        ports:
            - {{ port }}:80
        volumes:
            - ../:/usr/local/apache2/htdocs
