    {{ container_name }}:
        container_name: {{ container_name }}
        image: php:{{ version }}
        restart: 'on-failure'
        working_dir: /app
        volumes:
            - ../:/app
            - ./php/conf/php.ini:/etc/php7/php.ini
#            - .php/extra/php:/usr/lib/php7
        ports:
            - {{ port }}:9000
