    {{ container_name }}:
        container_name: {{ container_name }}
        image: node:{{ version }}
        user: "node"
        working_dir: /node
        volumes:
            - ../{{ application_dir }}:/node
        environment:
            - NODE_ENV={{ env }}
        expose:
            - {{ port }}
